.is-current {
    padding: 7px;
    background-color: black;
    color: white;
}

a {
    text-decoration: none;
}
h1 {
    margin-bottom: -12px;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.roles {
    margin-top: 64%;
}
.roles li {
    font-size: 20px;
}
.nav-bar li {
    margin-right: 15px;
    display: inline;
}
.nav-bar {
    align-self: center;
    font-size: 21px;
    grid-column: 3;
}
header a {
    display: block;
    position: relative;
}
header h1 {
    font-size: 33px;
    transform: rotate(-90deg);
    position: absolute;
    z-index: 100;
    top: 61px;
    left: -127px;
}
.content p {
    font-size: 20px;
}
.container {
    font-family: 'Lato', sans-serif;
    padding-top: 25px;
    display: grid;
    grid-template-columns: 260px 1fr auto;
    margin: 0 auto;
    width: 90%;
    max-width: 960px;
}
.course-title {
    grid-column: 1;
}
.course-title h4 {
    font-size: 18px;
}
.content {
    margin-top: 14px;
    grid-row: 2;
    grid-column: 1 / 4;
}
header {
    margin-left: 20%;
}
